<!doctype html>
<html>
<head>
<title>Product Information</title>
</head>
<body>
<form action="product_information_form.php" method="POST">
<h2>Enter Your Product Information Here</h2>
<pre>
Item Name   <input type="text" name="name" placeholder="Item Name Here">
Item Price  <input type="text" name="price" placeholder="Item Price Here">
Item Brand  <input type="text" name="brand" placeholder="Item Brand Here">
Item Tpye   <input type="text" name="type" placeholder="Item Tpye Here">
Discount    <input type="text" name="discount" placeholder="Discount Here">
		
		<input type="submit">
</pre>

</form>
</body>
</html>